FNM_PATH=${PWD}
FNM_VERSION=latest


COMPOSE_PROJECT_NAME=fnm
COMPOSE_FILE=docker-compose.yml:docker-compose.clickhouse.yml:docker-compose.grafana.yml:docker-compose.trafficdb.yml:docker-compose.web-api.yml

# Minimal install 
# COMPOSE_FILE=docker-compose.yml

# With visual stack - https://fastnetmon.com/docs-fnm-advanced/advanced-visual-traffic/
# COMPOSE_FILE=docker-compose.yml:docker-compose.clickhouse.yml:docker-compose.grafana.yml

# With persistend -  https://fastnetmon.com/docs-fnm-advanced/fastnetmon-advanced-traffic-persistency/
# COMPOSE_FILE=docker-compose.yml:docker-compose.clickhouse.yml:docker-compose.trafficdb.yml

# Full install - 
# COMPOSE_FILE=docker-compose.yml:docker-compose.clickhouse.yml:docker-compose.grafana.yml:docker-compose.trafficdb.yml

